.input {
    display: flex;
}

.input textarea,div {
    margin-left: 10px;
}
.buttons button{
    display: block;
    margin-bottom: 10px;
}
dd {
    margin: 20px;
}
.search input,button {
    margin-left: 10px;
}