#logo{
	padding:10px 40px;
	display:inline-block;
}
header{
	width:100%;
	position:relative;
}
header ul{
	margin:0;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}
header li {
	float:left;
	margin-right:30px;
}
header a{
	text-decoration:none;
	color:white;
}
header a:hover{
	text-decoration:none;
	color:red;
}
body{
	background:lightgrey;
}
footer p{
	text-align:center;
	display:block;
	padding-top:10px;
	padding-bottom:10px;
}
.main{
	display:table;
	width:100%;
}
.mainContent{
	display:table-cell;
}
.sidebar{
	vertical-align:top;
	display:table-cell;
	width:400px;
}
.articles{
	border-style: outset;
	border-top: thin;		
	border-left: thin;
	background:white;
	margin:20px;			
	padding: 20px;
}
#pictures .images{
	border: solid thin;
	display: inline-block;
	padding:10px;	
	text-align: center;
	padding:10px;
	margin:20px;
}
#pictures label{
	display:block;
}
#articleWeapons>table{
	border:thin solid lightgrey;
	border-collapse:collapse;
}
#articleWeapons th{
	border:thin solid lightgrey;
	text-align:left;
}
#articleWeapons td{
	border:thin solid lightgrey;
}
#information{
	font-size:12px;
}   
#information>h1{
	border-left:solid grey;
	padding-left:5px;
}
.setRight{
	text-align:right;
}
.setTop{
	vertical-align:top;
}
#information textarea{
	height:auto;
	width:100%;
}
#btnSubmit{
	width:100%;
	font-size:16px;
	background-color:blue;
	border-radius:8px;
	color:white;
}
.setGrey{
	color:grey;
}
.firstTd{
	width:30%;
}
.secondTd{
	width:70%
}
.bBlackFWhite{
	background:black;
	color:white;
}
