.output, .output div {
    margin: 5px 1px;
    display: flex;
    border: solid thin;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    background-color: white;
}

.output span {
    margin: 5px 5px;
}
